/*  your css code here. If applicable */
.MainContainer{
	width:1050px;
	height:auto;
	
	position:relative;
	background-color:gray;
	padding:5px;

}
.imageContainer{
	display:flex;
	
	
}
.row-container{
	width:1040px;
	height:auto;
	border:1px solid black ;
	display:flex;
	flex-wrap:wrap;
  


}
.imageContainer img{
	width:400px;
	height:250px;
	object-fit:cover;
	
}
.row-1{
	display:flex;
	width:1100px;
	height:200px;
text-align:center;
	padding:5px;
	justify-content:space-evenly

	
	
	
	
}
.Image1{
	width:200px;
	height:auto;
	border:1px solid ;
	object-fit:cover;
	overflow:hidden; 
	
	
}
.Image2{
	width:200px;
	height:auto;
	border:1px solid ;
	object-fit:cover;
	overflow:hidden; 
	
	
}
.text{
	width:600px;
	height:auto:
	position:absolute;
	border:1px solid ;
}